extends layout

block content
  h1= title

  if currentUser != undefined
    h2 Hello #{currentUser.username}
    p Welcome to #{title}
    a(href="/new-message") Send a New Message
  else 
    p Welcome to #{title}
