extends layout 

block content

  h1 #{title}

  if currentUser == undefined
    form(method="POST") 
      div.form-group
        label(for="first_name") First Name: 
        input#first_name.form-control(type="text" name="first_name" required)
      div.form-group
        label(for="last_name") Last Name:
        input#last_name.form-control(type="text" name="last_name" required)
      div.form-group
        label(for="username") Username:
        input#username.form-control(type="text" name="username" required)
      div.form-group
        label(for="password") Password:
        input#password.form-control(type="password" name="password" required)
      div.form-group
        label(for="confirm_password") Confirm Password:
        input#confirm_password.form-control(type="password" name="confirm_password" required)
      button.btn.btn-primary(type='submit') Submit
  else 
    h2 Already Signed Up
  if errors
    ul
      for error in errors
        li!= error.msg
